@import "colors";

html,
body {
    height: 100%;
    width: 100%;
    background-color: $page-color;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: $color-link;
    text-decoration: none;
    cursor: pointer;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
