@import 'mixins';

.leave-feedback-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .feedback-form-content {
        flex: 4 0;
        position: relative;
    }

    @include for-md {
        .form-aside {
            margin-top: 0;
            flex: 1 0 auto;
            max-width: 30rem;
        }
    }

    .input-fields-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .input-text {
            flex: 1 0 auto;
            margin: $padding-small-vertical $padding-small-horizontal;

            .input-text-label,
            input {
                width: 100%;
                min-width: 20rem;
            }
        }
    }

    .textarea-container {
        padding: $padding-small-vertical $padding-small-horizontal;

        .textarea-component,
        .textarea-label,
        textarea {
            width: 100%;
        }
    }

    .buttons-container {
        padding-top: $padding-xlarge-vertical;

        .btn {
            margin: 0 $padding-small-horizontal;
        }
    }

    .form-aside {
        padding: 0 $padding-small-horizontal;
        margin-top: $padding-large-vertical;

        .aside-title {
            font-size: 2.4rem;
            font-weight: 500;
        }

        .aside-text,
        .email-container {
            margin-top: $padding-large-vertical;
        }

        .email-container {
            .fa {
                margin-right: $padding-small-horizontal;
            }
        }
    }
}
