@import "colors";
@import "variables";
@import "mixins";

footer {
  @include page-padding();

  background-color: $footer-color;
  color: $color-text-inverse;

  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .locale {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: $padding-xsmall-horizontal;
    }

    &.disabled {
      cursor: default;
      color: $footer-disabled-region;
    }
  }

  .locales-and-networks-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
