@import 'colors';

.input-text-label {

    input.error {
        background-color: $color-invalid-input-background;
        border-color: $color-error-background;
    }

    &-title.horizontal {
        margin-right: 1rem;
    }

    &-title.vertical {
        display: block;
        margin-bottom: 0.5rem;
    }
}
