@import "variables";
@import 'mixins';

.articles-page {
  @include page-padding();

  padding-top: $padding-xlarge-vertical;
  padding-bottom: $padding-xlarge-vertical;

  .page-controls {
    margin-bottom: $padding-xlarge-vertical;

    .rc-pagination {
      flex: 1 0;
    }

    .search-form {
      flex: 2 0;

      .input-text,
      .input-text input,
      .input-text-label {
        width: 100%;
      }

    }
  }
}
